---
import { t } from 'astro-i18n';
import type { PageNames } from '~data/enum';
interface Props {
  pageName: PageNames;
  nextPageName: string;
  href: string;
}

const { pageName, nextPageName, href } = Astro.props;
---

<content class="text-center">
  <h4 class="text-h4">{t('this_is')} {pageName}.</h4>
  <p>{t('go_to')} <a href={href}>{nextPageName}</a>.</p>
</content>
