---
import { astroI18n, l } from 'astro-i18n';
import classNames from 'classnames';

interface Props {}

const params: Record<string, string> = {};
for (const [key, value] of Object.entries(Astro.params)) {
  if (value === undefined) continue;
  params[key] = String(value);
}
const links = astroI18n.locales.map((locale) => ({
  locale,
  href:
    l(Astro.url.pathname, params, {
      targetLocale: locale
    }) + '/'
}));
---

<ul class="z-1 fixed right-0 top-0 z-10 flex p-2">
  {
    links.map(({ locale, href }, idx) => {
      return (
        <>
          <li class="">
            <a
              class={classNames(`color p-1 transition duration-75 hover:text-secondary`, {
                'text-secondary': locale === astroI18n.locale,
                'text-black': locale !== astroI18n.locale
              })}
              href={href}
            >
              {locale}
            </a>
          </li>
          {idx < astroI18n.locales.length - 1 && <li>|</li>}
        </>
      );
    })
  }
</ul>
