---
import { ViewTransitions } from 'astro:transitions';

import '@styles/global.css';
import { classicAnimationTransition } from '@utils/astro-custom-animation';

interface Props {
	site_name: string;
	title: string;
	description: string;
	author: string;
	locale_region: string;
	locale: string;
}

const { title, description, author } = Astro.props;

const customTransitionProps = classicAnimationTransition(0.5, 0.2);
---

<!doctype html>
    <Webgl client:load transition:persist />
    <!-- <script transition:persist>
			console.log('About');
			document.addEventListener('astro:after-swap', () => {
				console.log('About afterSwap');
			}, { once: true });
			document.addEventListener('astro:page-load', () => {
				console.log('About page load');
			},{ once: true });
		</script> -->
	</body>
</html>