---
import Layout from 'layouts/Layout.astro';
---

<Layout
	site_name="Astro boilerplate"
	title="Welcome to Astro."
	description="Boilerplate built with Astro using React and Tailwind CSS"
	author="Jeremie Boulay"
	locale_region="en-us"
	locale="en"
>
	<main>TODO</main>
</Layout>